@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    margin: 0;
}
body{
    justify-content: space-between;
    height: 100Vh;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgb(10, 10, 109);   
}
.apresentacao {
    display: flex;
    justify-content: space-between;
    margin: 8% 25%;
    gap: 50px;
}
.sobre__mim{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    gap: 32px;
}
.titulo {
    color: hsl(173, 97%, 52%);
}
.conteudo{
    color: aliceblue;

}
.apresentacao__links {
    color: hsl(173, 97%, 52%);
    width: 350px;
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
    font-family: 'krona one', 'sans-serif';
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.apresentacao__links__link {
    color: aqua;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 15px;
    font-weight: 600;
    padding: 15.5px 0;
    text-decoration: none;
    background-color: rgb(10, 10, 109);
    font-family: 'Montserrat', 'sans-serif';
    border: solid 2px aqua;
}
.minha__foto {
    width: 400px;
    height: 500px;
    border-radius: 5%;
    border: solid 2px slateblue;
}